.add-list {
  &__popup {
    width: 240px;
    height: 150px;
    background: #ffffff;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    padding: 18px;
    box-sizing: border-box;
  }
  .button {
    width: 100%;
    margin-top: 12px;
  }
  &__popup {
    &-colors {
      margin-top: 12px;
      display: flex;
      justify-content: space-between;

      .badge {
        width: 20px;
        height: 20px;
        position: static;
      }
    }
  }
}
